name: Verify PR

on:
    pull_request:
        branches: [main]

jobs:
    verify-pr:
        timeout-minutes: 2
        runs-on: ubuntu-latest
        permissions:
            contents: read
        container:
            image: mcr.microsoft.com/playwright:v1.56.1-noble
            options: --user 1001
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: 24
            - name: Install dependencies
              run: npm ci
            - name: Prettier
              run: npm run pretty-check
            - name: ESLint
              run: npm run lint
            - name: Build
              run: npm run build
            - name: Type check tests
              run: npm run test-type-check
            - name: Run tests
              run: npm run test
